.container-agenda {

}

.container-agenda-menu {
  background-color: white;

}

.agenda-booked-or-published {
}

.btn-agenda-menu {
  height: 50px !important;
}

@media(max-width: 576px) {
  .btn-agenda-menu {
    height: 60px !important;
  }
}

.container-agenda-menu {
  z-index: 1;
  position: sticky;
  top: 68px;
}
