#container-agenda {
  min-width: 350px;
}

.agenda-booked-or-published {
  height: 30px !important;
}

.btn-agenda-menu {
  height: 40px !important;
}

@media(max-width: 576px) {
  .btn-agenda-menu {
    height: 60px !important;
  }
}

.btn-agenda-menu:hover {
  background-color: #AFB2AB !important;
  text-weight: bold;
}
