// Import page-specific CSS files here.
@import "home";

.search-container {
  z-index: 1;
  position: sticky;
  top: 64px;
}

#profile-text {
  font-size: 14px !important;
  line-height: 2 !important;
}