.body{
  margin-top: 44px;
  h1 {
  font-size: 28px !important;
  font-weight: bold;
  margin: 0;
  }

  h2 {
  font-size: 24px !important;
  font-weight: bold;
  margin: 0;
  }

  h4 {
  font-size: 20px !important;
  margin: 0;
  }

  h5 {
  font-size: 16px !important;
  margin: 0;
  }

  p {
  font-size: 12px !important;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  }
}
