.edit-btn:hover {
  background-color: #CDD3CB !important;
  border-color: #CDD3CB !important;
  color: black !important;
}

.card-btn-position-img-bottom {
  position: absolute;
  right: 16px;
  top: -20px;
}

.show-btn-position-img-bottom {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 180px;
}

.card-activity-booking-btn {
  position: absolute;
  right: 16px;
  bottom: -20px;
}

.btn-width {
  max-width: 140px;
}
