  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path 'parque2', quality: "auto:good", gravity: :auto, crop: :thumb%>')">
        <div class="carousel-caption">
          <h3 class="display-4">Aproveite</h3>
          <h5 class="lead">Encontre atividades, cursos e eventos que combinem com você.</h5>
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path 'baralho_parque', quality: "auto:good", gravity: :auto, crop: :thumb %>')">
        <div class="carousel-caption">
          <h3 class="display-4">Desafie-se</h3>
          <h5 class="lead">Agende compromissos individuais e coletivos para uma vida mais ativa.</h5>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path 'avó_e_neta_cozinhando_taaqvy', quality: "auto:good", gravity: :auto, crop: :thumb %>')">
        <div class="carousel-caption">
          <h3 class="display-4">Incentive</h3>
          <h5 class="lead">Indique experiências para familiares e amigos.</h5>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
  </div>
