<div class="form-container row justify-content-center pt-2">
  <div class="col-md-9 col-lg-6">
    <h4 class="text-center font-weight-bold">Publique seu Evento</h4><br>
    <h5>Formulário para publicação de <strong>evento público com data de realização específica.</strong></h5>
    <p>Em caso de atividade a ser realizada em qualquer data, publique como <strong>DESAFIO</strong>.</p>
    <br>
    <%= render 'form_event' %>
  </div>
</div>
