<div class="row justify-content-center pb-5">
  <div class=" col-10">
    <h1>Publique seu desafio</h1><br>
    <h4>Formulário para publicação de <strong>desafio para ser realizado em qualquer data</strong></h4>
    <p>Em caso de atividade pública em grupo com data de realização específica, publique como EVENTO.</p>
    <br>
    <%= render 'form_challenge' %>
  </div>
</div>
