<div class="row justify-content-center pb-5">
  <div class=" col-10">
    <h1> NOVO DESAFIO </h1>
    <h4>Formulário para publicação de <strong>desafio para ser realizado em qualquer data</strong></h4>
    <p>Em caso de atividade pública em grupo com data de realização específica, publique como EVENTO.</p>
    <% @activity.event = false %>
    <%= render 'form_challenge' %>
  </div>
</div>
