<div class="row justify-content-center pb-5">
  <div class=" col-10">
    <h1>Publique seu Evento</h1><br>
    <h4>Formulário para publicação de <strong>evento público com data de realização específica</strong></h4>
    <p>Em caso de atividade a ser realizada em qualquer data, publique como DESAFIO.</p>
    <br>
    <%= render 'form_event' %>
  </div>
</div>
 