<div class="form-container row justify-content-center pt-2">
  <div class="col-md-9 col-lg-6">
    <h4 class="text-center font-weight-bold">Publique seu desafio</h4><br>
    <h5>Formulário para publicação de <strong>desafio para ser realizado em qualquer data.</strong></h5>
    <p>Em caso de atividade pública em grupo com data de realização específica, publique como <strong>EVENTO</strong>.</p>
    <br>
    <%= render 'form_challenge' %>
  </div>
</div>
