<div class="form-container row justify-content-center pt-2">
  <div class="col-md-9 col-lg-6">
    <h4 class="text-center font-weight-bold">Publique seu desafio</h4><br>
    <h5>Formulário para publicação de <strong>desafio a ser realizado em qualquer data e local.</strong></h5>
    <h5 class="font-italic mt-2">Obs: Em caso de atividade com data de realização e local específicos, publique como <strong>EVENTO</strong>.</h5>
    <br>
    <%= render 'form_challenge' %>
  </div>
</div>
